<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/styles/4-common.css">
    <link rel="stylesheet" type="text/css" href="static/styles/3-header.css">
    <link rel="stylesheet" type="text/css" href="static/styles/3-footer.css">
    <link rel="stylesheet" type="text/css" href="static/styles/6-filters.css">
    <link rel="icon" href="images/icon.png" />
    <title>HBnB</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>
    <div class="container">
      <section class="filters">
	<div class="locations">
	    <h3>State</h3>
              <h4>&nbsp;</h4>
	        <div class="popover">
		  {% for state in l_state | sort(attribute='name') %}
                  <ul><h3>{{ state.name }}</h3></ul>
                      {% for city in state.cities | sort(attribute='name') %}
                         <ul><h4>{{ city.name }}</h4></ul>
	              {% endfor %}
		  {% endfor %}
		</div>
	</div>
	<div class="amenities">
	    <h3>Amenities</h3>
              <h4>&nbsp; </h4>
	        <div class="popover">
		{% for amenity in l_amenity | sort(attribute='name') %}
                    <ul>{{ amenity.name }}</ul>
                {% endfor %}
		</div>
	</div>
	<button type="button">Search</button>
      </section>
    </div>
    <footer>
      <p>Holberton School</p>
    </footer>
  </body>
</html>
