<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AirBnB Clone</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="static/images/favicon.ico">
  </head>

<body>
  <link rel="stylesheet" href="static/styles/4-common.css">
  <link rel="stylesheet" href="static/styles/6-filters.css">
  <header>
      <link rel="stylesheet" href="static/styles/3-header.css">
  </header>
  <div class="container">
      <section class="section_1">
          <div class="locations">
              <h3>States</h3>
              <h4>&nbsp; </h4>
              <ul class="popover">
	      {% for state in l_state | sort(attribute='name') %}
                <li><h3>{{ state.name }}</h3></li>
                 {% for city in state.cities | sort(attribute='name') %}
                    <li><h4>{{ city.name }}</h4></li>
	         {% endfor %}
	      {% endfor %}
              </ul>
            </div>
          
          <div class="amenities">
              <h3>Amenities</h3>
              <h4>&nbsp;</h4>
              <ul class="popover">
		{% for amenity in l_amenity | sort(attribute='name') %}
                    <li>{{ amenity.name }}</li>
                {% endfor %}
              </ul>
          </div>
          <button class="btn">
            Search
          </button>
      </section>
  </div>
  <footer>
      <link rel="stylesheet" href="static/styles/3-footer.css">
      <p class="foot_p">Holberton School</p>
  </footer>
</body>
</html>
